{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * DSP Cockpit plugin for Craft CMS 3.x
 *
 * DSP Cockpit index.twig
 *
 * @author    Snapdesign AG
 * @copyright Copyright (c) 2018 Snapdesign AG
 * @link      https://snapdesign.ch
 * @package   DspCockpit
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("snapdesign\\dspcockpit\\assetbundles\\dspcockpit\\DspCockpitAsset") %}
{% do view.registerAssetBundle("snapdesign\\dspcockpit\\assetbundles\\cockpitcpsection\\CockpitCPSectionAsset") %}

{% set docsUrl = "???" %}

{% set title = "DSP Cockpit" %}

{% set pluginCpUrl = url('dsp-cockpit') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@snapdesign/dspcockpit/assetbundles/cockpitcpsection/dist', true) ~ '/img/Cockpit-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('dsp-cockpit') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Cockpit CP Section body goes here"|t('dsp-cockpit') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
