{% extends "_layouts/cp" %}
{% set title = "Cockpit" %}

{% set content %}

<script>



 /* reveive event to adjust the iframe height */
    function receiveMessage(event) {
    var message = event.data.split(':');
    var eventName = message[0];
    var iframes, len, i = 0;
    var senderDomains = ['https://snadsp-cockpit-frontend.scapp.io'];

    if (senderDomains.indexOf(event.origin) !== -1 && eventName === 'resize') {
      iframe = document.querySelector('#iframe');

      if (iframe.contentWindow || iframe.documentWindow == event.source) {
        iframe.style.height = message[1] + "px";
        //height popup fix: min height = 740px
        if(message[1] < 600){
          iframe.style.height = "740px";
        }
        return;
      }
    }
  }
    if (window.addEventListener) {
    window.addEventListener('message', receiveMessage, false);
  } else if (window.attachEvent) {
    window.attachEvent('onmessage', receiveMessage);
  }
</script>
    {% if currentUser.userKey %}
    <iframe src="https://snadsp-cockpit-frontend.scapp.io" id="iframe" frameborder="0" allowfullscreen width="100%"></iframe>
  
    {% else %}
        Fehler: User Key ist nicht hinterlegt.
    {% endif %}
<script>


window.onload = function () {
    /* send user key and hostname to iframe */
    var host = window.location.hostname;
    var dspiFrame = document.getElementById('iframe');
    dspiFrame.contentWindow.postMessage('{{currentUser.userKey}}|'+ host, '*');
}

</script>
{% endset %}

